#filterDiv {
    height: 100px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.filterbuttonsDiv{
    width: max-content;
    height: 100px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hr{
    background: #7115ad;
    box-shadow: none;
    border: none;
    height: 2px;
    width: 70%;
    margin: 25px auto ;
}

#filterDiv>div>label{
    margin-bottom: 5px;
}

.selectSec {
    
    width: 250px;
    background: rgb(71, 129, 255);
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.selectSec:hover {
    color: #ffffff;
    background: rgb(129, 169, 255);
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
}