.ticketA {
    width: 98.5%;
    height: max-content;
    background-color: rgba(226, 226, 226, 0.596);
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
    /* cursor: pointer; */
    text-decoration: none;
}

.teacher {
    width: 98.5%;
    height: max-content;
    background-color: rgba(226, 226, 226, 0.596);
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-around;
    /* cursor: pointer; */
    text-decoration: none;
}

.course {
    width: 98.5%;
    height: 300px;
    background-color: rgba(226, 226, 226, 0.596);
    margin-top: 10px;
    margin-bottom: 10px;
    flex-direction: column;
    align-items: center;
    /*justify-content: space-between;*/
    /*text-decoration: none;*/
}

.course2 {
    width: 98.5%;
    height: 200px;
    background-color: rgba(226, 226, 226, 0.596);
    margin-top: 10px;
    margin-bottom: 10px;
    flex-direction: column;
    align-items: center;
    /*justify-content: space-between;*/
    /*text-decoration: none;*/
}

.width25pc {
    width: 23%;
    height: 50px;
    justify-content: space-around;
    align-items: center;
}

.ticketPointer {
    width: 98.5%;
    height: max-content;
    background-color: rgba(226, 226, 226, 0.596);
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
    cursor: pointer;
    text-decoration: none;
}

.ticketFromTo {
    width: 30%;
    height: 105px;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 15px;
}

.courseInfo {
    width: 30%;
    height: 105px;
    /*justify-content: space-around;*/
    align-items: center;
    padding-left: 15px;
}

.fromTo {
    font-size: 18pt;
    font-weight: bold;
}

.ticketDateTime {
    padding-top: 10px;
    width: 30%;
    height: 95px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18pt;
    font-weight: bold;
}

.courseDateTime {
    padding-top: 10px;
    padding-left: 17px;
    width: 30%;
    height: 95px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 18pt;
    font-weight: bold;
}


.description {
    padding-top: 10px;
    padding-left: 17px;
    width: 30%;
    height: 95px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 13pt;
    font-weight: bold;
}

.ticketPrice {
    width: 30%;
    height: 105px;
    padding-right: 15px;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.teachingDiv {
    width: 30%;
    height: 105px;
    padding-right: 15px;
] align-items: center;
    justify-content: center;
}

.ticketPrice > div {
    flex-direction: row;
    align-items: flex-end;

}

.ticketPriceSpan {
    font-size: 19pt;
    font-weight: bold;
}

.pending {
    color: red;
    font-size: 15pt;
    font-weight: bold;
}

.pending-hidden {
    color: red;
    font-size: 15pt;
    font-weight: bold;
    visibility: hidden;
}

a:-webkit-any-link {
    color: black;
}

.user {
    font-style: italic;
}

.hidden {
    visibility: hidden;
}