<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Users Activation</title>
    <meta th:content="${_csrf.token}" th:name="_csrf"/>
    <meta th:content="${_csrf.headerName}" th:name="_csrf_header"/>
    <link rel="stylesheet" th:href="@{/css/ticketStyle.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/filter.css}"/>
    <link rel="stylesheet" th:href="@{/css/input.css}"/>

    <!--    <link rel="stylesheet" href="/static/css/ticketStyle.css"/>-->
    <!--    <link rel="stylesheet" href="/static/css/style.css"/>-->
    <!--    <link rel="stylesheet" href="/static/css/filter.css"/>-->
    <!--    <link rel="stylesheet" href="/static/css/input.css"/>-->
    <!--    <script language="JavaScript" type="text/javascript"  th:src="@{/js/jquery-3.6.0.min.js}"></script>-->
    <script
            crossorigin="anonymous"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script language="JavaScript" th:src="@{/js/main.js}" type="text/javascript"></script>
</head>

<body class="container">
<dev class="container borderradius10px" id="heading">
    <dev class="container" id="loginbuttonDiv">
        <a class="marginleft10px" href="/sign-up">
            <button class="btn" type="submit">Sign-Up</button>
        </a>
        <a class="marginleft10px" href="/login">
            <button class="btn" type="submit">Login</button>
        </a>
    </dev>
    <dev class="container" id="homebuttonDiv">
        <a class="marginright10px" href="/">
            <button class="btn btn-submit" type="submit">home</button>
        </a>
    </dev>
</dev>


<dev class="container borderradius10px " id="mainDiv">
    <form action="" class="container" id="filterDiv" method="get">
        <div class="container filterbuttonsDiv">
            <label for="UserType">User Type</label>
            <select class="selectSec" id="UserType" name="UserType">
                <option class="" value=""></option>
                <option class="" value="teacher">teacher</option>
                <option class="" value="student">student</option>
                <option class="" value="admin">admin</option>
            </select>
        </div>

        <div class="container filterbuttonsDiv">
            <label for="UserConfirmed">Confirmation Status</label>
            <select class="selectSec" id="UserConfirmed" name="UserConfirmed">
                <option class="" value=""></option>
                <option class="" value="true">Active</option>
                <option class="" value="false">Inactive</option>
            </select>
        </div>
        <div class="container filterbuttonsDiv">
            <label>&nbsp;</label>
            <input class="btn btn-submit selectSec" type="button" value="filter">
        </div>
    </form>


    <hr class="hr">
    <!-- </dev> -->

    <div class="container ticketA borderradius10px" th:each="user: ${users}">
        <dev class="container ticketFromTo">

                <span class="fromTo" th:text="${user.getFullName()}">
                </span>
            <span class="fromTo user" th:text="${user.getRoles().iterator().next().getName()}"></span>
        </dev>
        <dev class="container ticketDateTime">
            <span th:text="${'@'+user.getUsername()}"></span>
            <span th:text="${user.getEmail()}"></span>
        </dev>

        <dev class="container ticketPrice">
            <span class="pending" th:id="${'pending'+user.getId()}" th:if="${!user.isConfirmed()}">
                Pending
            </span>
            <span class="pending-hidden" th:id="${'pending'+user.getId()}" th:if="${user.isConfirmed()}">
                 Pending
            </span>
            <div class="container" th:if="${user.isConfirmed()}">
                <input class="btn btn-submit activate hidden" name="activateBut" th:id="${'act'+user.getId()}"
                       type="button" value="Activate">
                <input class="btn btn-submit activate" name="DeactivateBut" th:id="${'dac'+user.getId()}"
                       type="button" value="Deactivate">
            </div>
            <div class="container" th:if="${!user.isConfirmed()}">
                <input class="btn btn-submit activate" name="activateBut" th:id="${'act'+user.getId()}"
                       type="button" value="Activate">
                <input class="btn btn-submit activate hidden" name="DeactivateBut" th:id="${'dac'+user.getId()}"
                       type="button" value="Deactivate">
            </div>
            <div></div>
            <div></div>
        </dev>
    </div>
</dev>
<footer class="container borderradius10px">
    <label>©Unimak</label>
</footer>

</body>

</html>