<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta th:content="${_csrf.token}" th:name="_csrf"/>
    <meta th:content="${_csrf.headerName}" th:name="_csrf_header"/>
    <title>Exam Questions</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/input.css}"/>
    <link rel="stylesheet" th:href="@{/css/ticketStyle.css}"/>
    <link href="/static/css/style.css" rel="stylesheet"/>
    <link href="/static/css/input.css" rel="stylesheet"/>
    <link href="/static/css/ticketStyle.css" rel="stylesheet"/>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <script crossorigin="anonymous" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            src="https://code.jquery.com/jquery-3.6.0.js"></script>

    <script language="JavaScript" th:src="@{/js/course.js}" type="text/javascript"></script>
    <script language="JavaScript" th:src="@{/js/exam.js}" type="text/javascript"></script>
</head>


<body class="container clomnflex">
<dev class="container borderradius10px" id="heading">
    <dev class="container" id="loginbuttonDiv">
        <a class="marginleft10px" href="/sign-up">
            <button class="btn" type="submit">Sign-Up</button>
        </a>
        <a class="marginleft10px" href="/login">
            <button class="btn" type="submit">Login</button>
        </a>
    </dev>
    <dev class="container" id="homebuttonDiv">
        <a class="marginright10px" href="/home">
            <button class="btn btn-submit" type="submit">home</button>
        </a>
    </dev>
</dev>

<div class="container timer" id="timerDiv">
    <p id="timer"></p>
</div>

<dev class="container borderradius10px" id="mainDiv" th:if="${questions.size()>0}">

    <input name="studentExamAnswerId" th:value="${studentExamAnswerId}" type="hidden"/>
    <h1 class="formh1">Question List</h1>

    <hr class="formhrsep">

    <div class="container questionOnExam borderradius10px" th:each="question, questionNumber : ${questions}"
         th:id="${'question'+ question.getId()}">
        <div class="container questionText">
            <span class="fromTo" th:text="${question.getQuestion()}">Question</span>
            <div class="container choiceGroup alignCenter">
                <span class="fromTo"
                      th:text="${'max score: '+question.getMaxScore()+' points'}">max score: 12 points</span>
                <span class="fromTo" th:text="${'student score: '+question.getScore()+' points'}">student score: 10 points</span>
            </div>
        </div>


        <div class="container questionText" th:if="${question.getQuestionType().equals('Descriptive')}">
            <p th:text="${'student answer: '+question.getStudentAnswer()}"></p>

            <!--            <input class="input" th:id="${'studentAnswerQId'+question.getId()}"-->
            <!--                   th:name="${'studentAnswerQId'+question.getId()}"-->
            <!--                   th:value="${question.getStudentAnswer()}"-->
            <!--                   maxlength="2000" type="text">-->
        </div>
        <div>
            &nbsp;
        </div>
        <div class="container questionText" th:if="${question.getQuestionType().equals('Descriptive')}">
            <input class="btn btn-submit" name="saveQuestion" th:id="${question.getId()+','+questionNumber.index}"
                   type="button" value="save score">
        </div>


        <div class="container choices" th:each="choice, choiceIndex : ${question.getChoices()}"
             th:id="${'choiceDiv'+__${choiceIndex.index}__}"
             th:if="${question.getQuestionType().equals('MultipleChoice')}">
            <div class="container choiceGroup2">
                <input checked
                       class="container choiceAnswer"
                       disabled
                       th:id="${question.getId()+','+__${questionNumber.index}__+','+__${choiceIndex.index}__}"
                       th:if="${question.isAnswerSelected(__${choiceIndex.index}__)}"
                       th:name="${'studentAnswerQIdC'+question.getId()}"
                       th:value="${__${choiceIndex.index}__}"
                       type="radio"
                >
                <input class="container choiceAnswer"
                       disabled
                       th:id="${question.getId()+','+__${questionNumber.index}__+','+__${choiceIndex.index}__}"
                       th:if="${!question.isAnswerSelected(__${choiceIndex.index}__)}"
                       th:name="${'studentAnswerQIdC'+question.getId()}"
                       th:value="${__${choiceIndex.index}__}"
                       type="radio"
                >
                <label class="container"
                       th:for="${question.getId()+','+__${questionNumber.index}__+','+__${choiceIndex.index}__}"
                       th:text="${choice}">label</label>
            </div>
            <div class="container AnswerText">
            </div>
        </div>

    </div>

</dev>


<footer class="container borderradius10px">
    <label>©Unimak</label>
</footer>

</body>

</html>