<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Edit Course Teacher</title>
    <meta th:content="${_csrf.token}" th:name="_csrf"/>
    <meta th:content="${_csrf.headerName}" th:name="_csrf_header"/>
    <link rel="stylesheet" th:href="@{/css/ticketStyle.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/filter.css}"/>
    <link rel="stylesheet" th:href="@{/css/input.css}"/>
    <link rel="stylesheet" th:href="@{/css/toggleSwitch.css}"/>
    <link href="/static/css/ticketStyle.css" rel="stylesheet"/>
    <link href="/static/css/style.css" rel="stylesheet"/>
    <link href="/static/css/filter.css" rel="stylesheet"/>
    <link href="/static/css/input.css" rel="stylesheet"/>
    <link href="/static/css/toggleSwitch.css" rel="stylesheet"/>
    <!--    <script language="JavaScript" type="text/javascript"  th:src="@{/js/jquery-3.6.0.min.js}"></script>-->
    <script
            crossorigin="anonymous"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script language="JavaScript" th:src="@{/js/course.js}" type="text/javascript"></script>
</head>

<body class="container">
<dev class="container borderradius10px" id="heading">
    <dev class="container" id="loginbuttonDiv">
        <a class="marginleft10px" href="/sign-up">
            <button class="btn" type="submit">Sign-Up</button>
        </a>
        <a class="marginleft10px" href="/login">
            <button class="btn" type="submit">Login</button>
        </a>
    </dev>
    <dev class="container" id="homebuttonDiv">
        <a class="marginright10px" href="/">
            <button class="btn btn-submit" type="submit">home</button>
        </a>
    </dev>
</dev>


<dev class="container borderradius10px " id="mainDiv">

    <input id="courseIdd" name="courseIdd" th:value="${courseId}" type="hidden"/>

    <h1 class="formh1">Courses List</h1>
    <hr class="hr">

    <h2 class="formh1">In Course Students</h2>
    <hr class="hr">

    <!--    TODO implement later-->

    <div class="container teacher borderradius10px">
        <div class="container width25pc">
            <span class="fromTo">id</span>
        </div>
        <div class="container width25pc">
            <span class="fromTo">username</span>
        </div>
        <div class="container width25pc">
            <span class="fromTo">full name</span>
        </div>
        <div class="container width25pc">
            <span class="fromTo">Course Teacher</span>
        </div>
    </div>

    <div class="container teacher borderradius10px" th:each="teacher: ${teachers}">
        <div class="container width25pc">
            <span class="fromTo" th:text="${teacher.getId()}">id</span>
        </div>
        <div class="container width25pc">
            <span class="fromTo" th:text="${teacher.getUsername()}">username</span>
        </div>
        <div class="container width25pc">
            <span class="fromTo" th:text="${teacher.getFullName()}">full name</span>
        </div>
        <div class="container width25pc">
            <label class="switch">
                <input checked name="teacherId" th:if="${teacher.getId() == currentTeacherId}"
                       th:value="${teacher.getId()}" type="radio">
                <input name="teacherId" th:if="${teacher.getId() != currentTeacherId}" th:value="${teacher.getId()}"
                       type="radio">
                <span class="slider round" th:value="${teacher.getId()}"></span>
            </label>
        </div>
    </div>


    <h2 class="formh1">Not In Course Students</h2>
    <hr class="hr">

    <div class="container teacher borderradius10px">
        <div class="container width25pc">
            <span class="fromTo">id</span>
        </div>
        <div class="container width25pc">
            <span class="fromTo">username</span>
        </div>
        <div class="container width25pc">
            <span class="fromTo">full name</span>
        </div>
        <div class="container width25pc">
            <span class="fromTo">Course Teacher</span>
        </div>
    </div>

    <div class="container teacher borderradius10px" th:each="teacher: ${teachers}">
        <div class="container width25pc">
            <span class="fromTo" th:text="${teacher.getId()}">id</span>
        </div>
        <div class="container width25pc">
            <span class="fromTo" th:text="${teacher.getUsername()}">username</span>
        </div>
        <div class="container width25pc">
            <span class="fromTo" th:text="${teacher.getFullName()}">full name</span>
        </div>
        <div class="container width25pc">
            <label class="switch">
                <input checked name="teacherId" th:if="${teacher.getId() == currentTeacherId}"
                       th:value="${teacher.getId()}" type="radio">
                <input name="teacherId" th:if="${teacher.getId() != currentTeacherId}" th:value="${teacher.getId()}"
                       type="radio">
                <span class="slider round" th:value="${teacher.getId()}"></span>
            </label>
        </div>
    </div>


</dev>
<footer class="container borderradius10px">
    <label>©Unimak</label>
</footer>

</body>

</html>