<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Document</title>
    <!--    <link rel="stylesheet" href="/css/style.css">-->
    <!--    <link rel="stylesheet" href="/css/ticketStyle.css">-->
    <!--    <link rel="stylesheet" href="/css/filter.css">-->
    <!--    <link rel="stylesheet" href="/css/input.css">-->

    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/input.css}"/>
</head>

<body class="container">
<dev class="container borderradius10px" id="heading">
    <dev class="container" id="loginbuttonDiv">
        <a class="marginleft10px" href="/sign-up">
            <button class="btn" type="submit">Sign-Up</button>
        </a>
        <a class="marginleft10px" href="/login">
            <button class="btn" type="submit">Login</button>
        </a>
    </dev>
    <dev class="container" id="homebuttonDiv">
        <a class="marginright10px" href="/home">
            <button class="btn btn-submit" type="submit">home</button>
        </a>
    </dev>
</dev>


<dev class="container borderradius10px " id="mainDiv">

    <dev class="container" id="adminPanelDiv" sec:authorize="hasRole('admin')">
        <a class="marginleft10px" href="/admin/confirm-users">
            <button class="btn" type="submit">Confirm Users</button>
        </a>
        <a class="marginleft10px" href="/course/create">
            <button class="btn" type="submit">Add Course</button>
        </a>
        <a class="marginleft10px" href="/course/list">
            <button class="btn" type="submit">Show All Courses</button>
        </a>
    </dev>

    <dev class="container" id="adminPanelDiv" sec:authorize="hasRole('teacher')">
        <a class="marginleft10px" href="/teacher/course/list">
            <button class="btn" type="submit">Show My Courses</button>
        </a>
    </dev>

</dev>
<footer class="container borderradius10px">
    <label>©Unimak</label>
</footer>

</body>

</html>