<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--    <link href="/static/css/style.css" rel="stylesheet">-->
    <!--    <link href="/static/css/input.css" rel="stylesheet">-->
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/input.css}"/>
</head>
<body class="container">
<dev id="heading" class="container borderradius10px">
    <dev id="loginbuttonDiv" class="container">
        <a href="/sign-up" class="marginleft10px">
            <button type="submit" class="btn">Sign-Up</button>
        </a>
        <a href="/login" class="marginleft10px">
            <button type="submit" class="btn">Login</button>
        </a>
    </dev>
    <dev id="homebuttonDiv" class="container">
        <a href="/home" class="marginright10px">
            <button type="submit" class="btn btn-submit">home</button>
        </a>
    </dev>
</dev>


<dev id="mainDiv" class="container borderradius10px ">

    <div class="wrapper">
        <form class="form" th:action="@{/login}" method="post">
            <fieldset style="border: none">
                <h1 class="formh1">LOGIN</h1>
                <hr class="formhrsep"/>
                <div class="group">
                    <input type="text" class="input" name="username" required="required"/><span class="highlight"></span><span
                        class="bar"></span>
                    <label class="label">Username</label>
                </div>
                <div class="group">
                    <input type="password" name="password" class="input" required="required"/><span class="highlight"></span><span
                        class="bar"></span>
                    <label class="label">Password</label>
                </div>
                <div class="btn-box">
                    <button class="btn btn-submit" type="submit">submit</button>
                </div>
                <div th:if="${param.error}" class="alert alert-error">
                    Invalid username and password.
                </div>
                <div th:if="${param.logout}" class="alert alert-success">
                    You have been logged out.
                </div>
            </fieldset>
        </form>
    </div>
</dev>
<footer class="container borderradius10px">
    <span>©Unimak</span>
</footer>

</body>
</html>