<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Exam</title>
    <!--    <link href="/static/css/style.css" rel="stylesheet">-->
    <!--    <link href="/static/css/input.css" rel="stylesheet">-->
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/input.css}"/>

    <script
            crossorigin="anonymous"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script language="JavaScript" th:src="@{/js/course.js}" type="text/javascript"></script>
    <script language="JavaScript" th:src="@{/js/choice.js}" type="text/javascript"></script>
</head>
<body class="container">
<dev class="container borderradius10px" id="heading">
    <dev class="container" id="loginbuttonDiv">
        <a class="marginleft10px" href="/sign-up">
            <button class="btn" type="submit">Sign-Up</button>
        </a>
        <a class="marginleft10px" href="/login">
            <button class="btn" type="submit">Login</button>
        </a>
    </dev>
    <dev class="container" id="homebuttonDiv">
        <a class="marginright10px" href="/home">
            <button class="btn btn-submit" type="submit">home</button>
        </a>
    </dev>
</dev>


<dev class="container borderradius10px " id="mainDiv">

    <div class="wrapper">
        <form class="form" method="POST" th:action="@{/exam/create-question/multi-answer}" th:object="${question}">
            <h1 class="formh1">Create Multiple Choice Question</h1>
            <hr class="formhrsep"/>
            <input name="examId" th:value="${examId}" type="hidden">
            <div class="group">
                <input class="input" id="title" maxlength="20" required="required" th:field="*{title}"
                       type="text"/><span
                    class="highlight"></span><span class="bar"></span>
                <label class="label">Title</label>
                <p th:each="error : ${#fields.errors('title')}"
                   th:text="${error}">Validation error</p>
            </div>
            <div class="group">
                <input class="input" id="question" required="required" th:field="*{question}" type="text"/><span
                    class="highlight"></span><span class="bar"></span>
                <label class="label">Question</label>
                <p th:each="error : ${#fields.errors('question')}"
                   th:text="${error}">Validation error</p>
            </div>


            <div class="group" id="scoreDiv">
                <input class="input" id="score" name="score" required="required" type="number"/><span
                    class="highlight"></span><span class="bar"></span>
                <label class="label">Score</label>
            </div>
            <p class="error" id="scoreError"></p>

            <div class="group">
                <label class="labelStatic">Choices</label>
            </div>


            <div class="container choiceGroup">
                <label class="labelStatic">Choices</label>
                <input id="numberOfChoices" th:value="${choices.size()}" type="hidden">

                <div class="container" th:each="choice, itemStat : *{choices}"
                     th:id="${'choiceDiv'+__${itemStat.index}__}">
                    <div class="container">
                        <input checked class="choiceRadio" name="writeAnswer" th:value="${__${itemStat.index}__}"
                               type="radio">
                    </div>
                    <div class="container AnswerText">
                        <input class="input choiceInput" name="choice"
                               required="required" th:field="*{choices[__${itemStat.index}__]}"
                               th:id="${'choice'+__${itemStat.index}__}"
                               type="text"/>
                    </div>
                </div>
                <div class="btn-box">
                    <button class="btn" id="addChoice" type="button">add choice</button>
                </div>
            </div>

            <div class="btn-box">
                <button class="btn btn-submit" type="submit">submit</button>
            </div>
        </form>
    </div>
</dev>
<footer class="container borderradius10px">
    <span>©Unimak</span>
</footer>

</body>
</html>