<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta th:content="${_csrf.token}" th:name="_csrf"/>
    <meta th:content="${_csrf.headerName}" th:name="_csrf_header"/>
    <title>Exam Questions</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/input.css}"/>
    <link rel="stylesheet" th:href="@{/css/ticketStyle.css}"/>
    <link href="/static/css/style.css" rel="stylesheet"/>
    <link href="/static/css/input.css" rel="stylesheet"/>
    <link href="/static/css/ticketStyle.css" rel="stylesheet"/>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <script crossorigin="anonymous" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            src="https://code.jquery.com/jquery-3.6.0.js"></script>

    <script language="JavaScript" th:src="@{/js/course.js}" type="text/javascript"></script>
</head>

<dev class="container borderradius10px" id="heading">
    <dev class="container" id="loginbuttonDiv">
        <a class="marginleft10px" href="/sign-up">
            <button class="btn" type="submit">Sign-Up</button>
        </a>
        <a class="marginleft10px" href="/login">
            <button class="btn" type="submit">Login</button>
        </a>
    </dev>
    <dev class="container" id="homebuttonDiv">
        <a class="marginright10px" href="/home">
            <button class="btn btn-submit" type="submit">home</button>
        </a>
    </dev>
</dev>

<body class="container">
<dev class="container borderradius10px" id="mainDiv" th:if="${questions.size()>0}">

    <input name="studentExamAnswerId" th:value="${studentExamAnswerId}" type="hidden"/>

    <h1 class="formh1">Question List</h1>

    <hr class="formhrsep">

    <!--    <div class="container ticketA borderradius10px">-->
    <!--        <div class="container width25pc">-->
    <!--            <span class="fromTo">ID</span>-->
    <!--        </div>-->
    <!--        <div class="container width25pc">-->
    <!--            <span class="fromTo">Title</span>-->
    <!--        </div>-->
    <!--        <div class="container width25pc">-->
    <!--            <span class="fromTo">Question Type</span>-->
    <!--        </div>-->
    <!--        <div class="container width25pc">-->
    <!--            <span class="fromTo">score</span>-->
    <!--        </div>-->
    <!--        &lt;!&ndash;        <div class="container width25pc">&ndash;&gt;-->
    <!--        &lt;!&ndash;            <span class="fromTo">Question</span>&ndash;&gt;-->
    <!--        &lt;!&ndash;        </div>&ndash;&gt;-->

    <!--        <div class="container width25pc">-->
    <!--            &nbsp;-->
    <!--        </div>-->
    <!--    </div>-->

    <!--         th:if="${!question.getQuestionType().equals('MultipleChoice')}"-->
    <div class="container questionOnExam borderradius10px" th:each="question, itemStat : ${questions}"
         th:id="${'question'+ question.getId()}">
        <div class="container questionText">
            <span class="fromTo" th:text="${question.getQuestion()}">Question</span>
        </div>


        <div class="container questionText" th:if="${question.getQuestionType().equals('Descriptive')}">
            <input class="input" th:id="${'studentAnswerQId'+question.getId()}"
                   th:name="${'studentAnswerQId'+question.getId()}"
                   th:value="${question.getStudentAnswer()}"
                   type="text">
        </div>
        <div>
            &nbsp;
        </div>
        <div class="container questionText" th:if="${question.getQuestionType().equals('Descriptive')}">
            <input class="btn btn-submit" name="saveQuestion" th:id="${question.getId()}"
                   type="button" value="save">
        </div>

        <div class="container questionText" th:if="${question.getQuestionType().equals('MultipleChoice')}">


            <div class="container" th:each="choice, itemStat2 : ${question.getChoices()}"
                 th:id="${'choiceDiv'+__${itemStat2.index}__}">
                <div class="container">
                    <input class="choiceRadio" th:id="${'studentAnswerQId'+__${itemStat2.index}__}"
                           th:name="${'studentAnswerQId'+question.getId()}"
                           th:value="${__${itemStat2.index}__}"
                           type="radio">
                </div>
                <div class="container AnswerText">
                    <label th:for="${'studentAnswerQId'+__${itemStat2.index}__}" th:text="${choice}"></label>
                </div>
            </div>


        </div>

    </div>


</dev>


<footer class="container borderradius10px">
    <label>©Unimak</label>
</footer>

</body>

</html>